/* General */

@import 'variables';
:root {
    --primary: #5FB4A2;
    --btn-1: #203A4C;
    --primary-txt: #33323d;
    --background: #FAFAFA;
    --txt-field: #EAEAEB;
    --errors: #F43030;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    position: relative;
    min-height: 100vh;
    color: var(--primary-txt);
    font-family: "Public Sans", sans-serif;
    background-color: var(--background);
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    @media screen and (min-width: 36em) {
        max-width: $container-sm;
        padding: 0;
    }
    @media screen and (min-width: 48em) {
        max-width: $container-md;
        // padding-left: 4rem;
        // padding-right: 4rem;
        @media screen and (min-width: 62em) {
            max-width: $container-lg;
        }
        @media screen and (min-width: 75em) {
            max-width: $container-xl;
        }
    }
}

h1,
h2,
h3 {
    font-family: 'Ibarra Real Nova', serif;
}

h1 {
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
    @media screen and (min-width: 75em) {
        font-size: 5rem;
    }
}

h2,
.h2 {
    font-size: 4rem;
    line-height: 1, 05;
    font-weight: 700;
}

h3,
.h3 {
    font-size: 3.2rem;
    line-height: 1.125;
    font-weight: 400;
}

p {
    opacity: 80%;
    font-size: 1.5rem;
    line-height: 2;
}

.borders-y {
    border-top: solid 1px rgb(51, 50, 61, 0.15);
    border-bottom: solid 1px rgb(51, 50, 61, 0.15);
}