.hero {
    margin-bottom: 9.6rem;
    &-pict {
        margin-bottom: 2.8rem;
    }
    &-title {
        margin-bottom: 2rem;
    }
}

.about {
    margin-top: 3.2rem;
    margin-bottom: 11.9rem;
    picture {
        margin-bottom: 3.2rem;
    }
    h2 {
        margin-top: 3.7rem;
        margin-bottom: 2.2rem;
    }
    p {
        font-size: 1.6rem;
        margin-bottom: 1.8rem;
    }
    a {
        margin-bottom: 5.2rem;
    }
}

.contact {
    text-align: center;
    margin-bottom: 8rem;
    h2 {
        margin-bottom: 2.8rem;
        line-height: 1.05;
    }
}

@media screen and (min-width: 48em) {
    .hero {
        .container {
            position: relative;
        }
        &-pict {
            z-index: -10;
        }
        &-group {
            background-color: var(--background);
            min-height: 27.8rem;
            min-width: 51.4rem;
            position: absolute;
            bottom: 0;
            transform: translateY(0%);
        }
        &-title {
            position: absolute;
            padding-right: 5.6rem;
            bottom: 8.4rem;
        }
        a {
            position: absolute;
            bottom: 0;
        }
    }
    .about {
        .container {
            display: flex;
        }
        picture {
            flex-shrink: 0;
            margin-right: 6.9rem;
        }
        a {
            margin-bottom: 0;
        }
    }
}