.projects-list {
    .borders-y {
        margin-top: 3.2rem;
        margin-bottom: 7.6rem;
        h2 {
            margin-top: 2.9rem;
        }
        a {
            margin-top: 1.7rem;
            margin-bottom: 2.5rem;
        }
    }
}